Note: I am not sure if it is needed to have these commands:

! pip install pandas

! pip install numpy

! pip install seaborn

In [113]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, precision_recall_curve
from sklearn.metrics import log_loss
from sklearn.preprocessing import MinMaxScaler

In [114]:
# Load the CSV file into a DataFrame
training_dataset = pd.read_csv('./dataset/customer_churn_dataset-training-master.csv')
testing_dataset = pd.read_csv('./dataset/customer_churn_dataset-testing-master.csv')
# Display the first 5 rows of the DataFrame
# print(df1.head())
# print(df1.columns)
df = pd.concat([training_dataset, testing_dataset], ignore_index=True)

df.head(50)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0
5,8.0,51.0,Male,33.0,25.0,9.0,26.0,Premium,Annual,129.0,8.0,1.0
6,9.0,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.0,24.0,1.0
7,10.0,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.0,30.0,1.0
8,11.0,39.0,Male,12.0,5.0,7.0,4.0,Standard,Quarterly,969.0,13.0,1.0
9,12.0,64.0,Female,3.0,25.0,2.0,11.0,Standard,Quarterly,415.0,29.0,1.0
10,13.0,29.0,Male,18.0,9.0,0.0,30.0,Premium,Quarterly,930.0,18.0,1.0
11,14.0,52.0,Female,21.0,6.0,3.0,26.0,Premium,Monthly,830.0,19.0,1.0
12,15.0,22.0,Male,41.0,17.0,10.0,25.0,Basic,Quarterly,265.0,23.0,1.0
13,16.0,48.0,Female,35.0,25.0,1.0,13.0,Basic,Annual,518.0,17.0,1.0
14,17.0,24.0,Male,4.0,9.0,4.0,22.0,Standard,Quarterly,204.0,4.0,1.0
15,18.0,49.0,Male,56.0,17.0,2.0,30.0,Standard,Quarterly,975.0,17.0,1.0
16,19.0,19.0,Female,38.0,23.0,7.0,11.0,Basic,Quarterly,978.0,3.0,1.0
17,20.0,47.0,Male,41.0,14.0,1.0,5.0,Premium,Annual,151.0,19.0,1.0
18,21.0,24.0,Male,44.0,13.0,5.0,4.0,Premium,Monthly,669.0,13.0,1.0
19,22.0,42.0,Male,15.0,16.0,2.0,14.0,Premium,Quarterly,262.0,16.0,1.0
20,23.0,57.0,Female,55.0,27.0,3.0,3.0,Basic,Annual,212.0,10.0,1.0
21,24.0,39.0,Female,43.0,2.0,4.0,15.0,Basic,Monthly,577.0,6.0,1.0
22,25.0,27.0,Male,44.0,28.0,8.0,18.0,Standard,Annual,436.0,30.0,1.0
23,26.0,27.0,Female,52.0,8.0,7.0,3.0,Standard,Monthly,434.0,19.0,1.0
24,27.0,59.0,Male,26.0,21.0,0.0,10.0,Premium,Monthly,822.0,17.0,1.0
25,28.0,21.0,Male,2.0,21.0,7.0,22.0,Basic,Annual,435.0,21.0,1.0
26,29.0,60.0,Female,18.0,16.0,8.0,28.0,Basic,Quarterly,830.0,22.0,1.0
27,30.0,65.0,Female,29.0,29.0,0.0,5.0,Premium,Annual,857.0,18.0,1.0
28,31.0,35.0,Female,38.0,20.0,6.0,2.0,Premium,Annual,574.0,19.0,1.0
29,32.0,18.0,Male,37.0,15.0,8.0,6.0,Premium,Monthly,800.0,29.0,1.0
30,33.0,56.0,Female,59.0,5.0,10.0,27.0,Standard,Quarterly,424.0,2.0,1.0
31,35.0,35.0,Male,40.0,27.0,8.0,28.0,Premium,Monthly,232.0,17.0,1.0
32,36.0,29.0,Male,43.0,12.0,2.0,10.0,Premium,Annual,289.0,6.0,1.0
33,37.0,20.0,Male,37.0,24.0,7.0,5.0,Standard,Annual,371.0,20.0,1.0
34,38.0,63.0,Female,51.0,3.0,5.0,12.0,Standard,Annual,288.0,15.0,1.0
35,39.0,22.0,Female,39.0,8.0,2.0,4.0,Standard,Annual,939.0,21.0,1.0
36,40.0,25.0,Female,53.0,2.0,10.0,13.0,Basic,Quarterly,336.0,13.0,1.0
37,42.0,28.0,Male,24.0,24.0,8.0,6.0,Standard,Monthly,572.0,28.0,1.0
38,43.0,51.0,Male,30.0,4.0,10.0,29.0,Premium,Monthly,770.0,23.0,1.0
39,44.0,32.0,Male,6.0,22.0,3.0,12.0,Basic,Monthly,413.0,20.0,1.0
40,45.0,38.0,Female,28.0,23.0,6.0,17.0,Basic,Quarterly,993.0,28.0,1.0
41,46.0,52.0,Male,17.0,26.0,4.0,6.0,Basic,Monthly,871.0,26.0,1.0
42,48.0,37.0,Male,30.0,30.0,7.0,13.0,Basic,Quarterly,929.0,13.0,1.0
43,49.0,31.0,Female,4.0,29.0,7.0,22.0,Standard,Annual,488.0,6.0,1.0
44,50.0,30.0,Male,24.0,7.0,6.0,13.0,Standard,Annual,874.0,3.0,1.0
45,51.0,23.0,Female,26.0,21.0,7.0,24.0,Basic,Quarterly,988.0,20.0,1.0
46,52.0,35.0,Male,37.0,11.0,7.0,13.0,Standard,Monthly,631.0,7.0,1.0
47,53.0,21.0,Female,56.0,11.0,9.0,9.0,Basic,Quarterly,626.0,1.0,1.0
48,54.0,56.0,Female,44.0,11.0,2.0,11.0,Standard,Annual,583.0,9.0,1.0
49,55.0,53.0,Female,18.0,21.0,1.0,23.0,Basic,Quarterly,717.0,15.0,1.0

In [115]:
#List of the columns
df.columns

Index(['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction', 'Churn'],
      dtype='object')

In [116]:
#Inspect the churn column
df['Churn']

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
505202    1.0
505203    1.0
505204    1.0
505205    1.0
505206    1.0
Name: Churn, Length: 505207, dtype: float64

In [117]:
#Print the shape to understand the size of the dataset and print the data types of all the features
print(df.shape)
print(df.dtypes)

(505207, 12)
CustomerID           float64
Age                  float64
Gender                object
Tenure               float64
Usage Frequency      float64
Support Calls        float64
Payment Delay        float64
Subscription Type     object
Contract Length       object
Total Spend          float64
Last Interaction     float64
Churn                float64
dtype: object

Gender, Subscription Type, and Contract Length are objects so these will need to be converted to be a numerical value

In [118]:
#Check for null values
nan_count = np.sum(df.isnull(), axis=0)
nan_count

CustomerID           1
Age                  1
Gender               1
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    1
Contract Length      1
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64

In [119]:
row_nan_count = np.sum(df.isnull(), axis=1)
row_nan_count

0         0
1         0
2         0
3         0
4         0
         ..
505202    0
505203    0
505204    0
505205    0
505206    0
Length: 505207, dtype: int64

After looking through the dataset, row 199295 has missing values for all the columns. Therefore, we can remove this row.

In [120]:
df.iloc[199295]

CustomerID           NaN
Age                  NaN
Gender               NaN
Tenure               NaN
Usage Frequency      NaN
Support Calls        NaN
Payment Delay        NaN
Subscription Type    NaN
Contract Length      NaN
Total Spend          NaN
Last Interaction     NaN
Churn                NaN
Name: 199295, dtype: object

In [121]:
#Drop row 199295
df.drop(199295, inplace=True)

In [122]:
#Ensure that row 199295 was removed
df.iloc[199295]

CustomerID           204107.0
Age                      36.0
Gender                 Female
Tenure                   46.0
Usage Frequency          24.0
Support Calls             7.0
Payment Delay             1.0
Subscription Type       Basic
Contract Length       Monthly
Total Spend             118.9
Last Interaction         27.0
Churn                     1.0
Name: 199296, dtype: object

In [123]:
#Recheck for null values
nan_count = np.sum(df.isnull(), axis=0)
nan_count

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [124]:
df.drop(columns=["CustomerID"],inplace=True)

In [125]:
#List the different values for the columns with object type
print(df['Gender'].unique())
print(df['Subscription Type'].unique())
print(df['Contract Length'].unique())

['Female' 'Male']
['Standard' 'Basic' 'Premium']
['Annual' 'Monthly' 'Quarterly']

In [126]:
#Perform one-hot encoding
df_gender = pd.get_dummies(df['Gender'], prefix='Gender')
df = df.join(df_gender)
df.drop(columns='Gender', inplace=True)

df_subscription_type = pd.get_dummies(df['Subscription Type'], prefix='Subscription Type')
df = df.join(df_subscription_type)
df.drop(columns='Subscription Type', inplace=True)

df_contract_length = pd.get_dummies(df['Contract Length'], prefix='Contract Length')
df = df.join(df_contract_length)
df.drop(columns='Contract Length', inplace=True)

In [127]:
# sns.lineplot(x=df['Age'], y=df['Churn'])
# sns.lineplot(x=training_dataset['Age'], y=training_dataset['Churn'])

In [128]:
#Identifying correlations with the label
corr_matrix = round(df.corr(),5)
corrs = corr_matrix['Churn']
corrs_sorted = corrs.sort_values(ascending=False)
corrs_sorted

Churn                         1.00000
Support Calls                 0.51628
Contract Length_Monthly       0.36650
Payment Delay                 0.32978
Age                           0.19122
Gender_Female                 0.16899
Last Interaction              0.12715
Subscription Type_Basic       0.01911
Subscription Type_Standard   -0.00793
Subscription Type_Premium    -0.01101
Tenure                       -0.02131
Usage Frequency              -0.05326
Contract Length_Annual       -0.15271
Contract Length_Quarterly    -0.15635
Gender_Male                  -0.16899
Total Spend                  -0.36968
Name: Churn, dtype: float64

In [129]:
df.describe()

,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn,Gender_Female,Gender_Male,Subscription Type_Basic,Subscription Type_Premium,Subscription Type_Standard,Contract Length_Annual,Contract Length_Monthly,Contract Length_Quarterly
count,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000
mean,39.704172,31.350435,15.714825,3.833317,13.496843,620.072766,14.610581,0.555203,0.445230,0.554770,0.325564,0.336692,0.337743,0.393123,0.216217,0.390660
std,12.670577,17.237482,8.619323,3.133603,8.451187,245.319256,8.608286,0.496944,0.496992,0.496992,0.468586,0.472579,0.472941,0.488444,0.411664,0.487899
min,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.000000,16.000000,8.000000,1.000000,6.000000,446.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,40.000000,32.000000,16.000000,3.000000,13.000000,648.900000,14.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,49.000000,46.000000,23.000000,6.000000,20.000000,824.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [130]:
# #Visualize the top two correlated features
# df_sample = df.sample(n=30000)
# top_two_corr = list(corrs_sorted[2:4].index)
# df_corrs_sample = df_sample[top_two_corr].copy()
# df_corrs_sample['Churn'] = df_sample['Churn']
# sns.pairplot(data=df_corrs_sample, kind='kde', corner=True)
# #ASK TA about this

In [131]:
# filter_df = df[df['Age']>50]

# filter_df
# filter_df.hist(column='Churn')

# training_dataset[training_dataset['Age']>50].hist(column='Churn')

In [132]:
df[df['Age']>50].head(100)

,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn,Gender_Female,Gender_Male,Subscription Type_Basic,Subscription Type_Premium,Subscription Type_Standard,Contract Length_Annual,Contract Length_Monthly,Contract Length_Quarterly
1,65.0,49.0,1.0,10.0,8.0,557.0,6.0,1.0,1,0,1,0,0,0,1,0
2,55.0,14.0,4.0,6.0,18.0,185.0,3.0,1.0,1,0,1,0,0,0,0,1
3,58.0,38.0,21.0,7.0,7.0,396.0,29.0,1.0,0,1,0,0,1,0,1,0
5,51.0,33.0,25.0,9.0,26.0,129.0,8.0,1.0,0,1,0,1,0,1,0,0
6,58.0,49.0,12.0,3.0,16.0,821.0,24.0,1.0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,54.0,56.0,7.0,7.0,4.0,206.0,20.0,1.0,0,1,0,0,1,1,0,0
265,64.0,25.0,20.0,0.0,23.0,141.0,12.0,1.0,0,1,0,0,1,1,0,0
268,63.0,44.0,15.0,0.0,3.0,752.0,26.0,1.0,0,1,0,1,0,0,0,1
270,54.0,3.0,17.0,4.0,27.0,401.0,21.0,1.0,0,1,0,0,1,1,0,0
273,52.0,33.0,28.0,7.0,11.0,726.0,27.0,1.0,0,1,1,0,0,0,0,1

In [137]:
#Normalize the numerical features by scaling values between 0 and 1
# scaler = MinMaxScaler()
# df = scaler.fit_transform(df)
# df_norm_test = pd.DataFrame(df_norm_test, columns=df_testing.columns)
df.shape

(505206, 16)

In [134]:
from sklearn.model_selection import train_test_split
y = df['Churn']
X = df.drop(columns='Churn')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=1234)

In [140]:
# Another way
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
probabilities = model.predict_proba(X_test)
acc_score = accuracy_score(y_test, predictions)
lg_loss = log_loss(y_test, probabilities)

print('Log loss=' + str(lg_loss) + ', accuracy score: ' + str(acc_score))

Log loss=0.3914534580084466, accuracy score: 0.8469448348211635

^Note: We had to use a sample because using the whole dataset was too large and causing no output